<!-- Embed Bandcamp albums
https://get.bandcamp.help/hc/en-us/articles/360013561254-How-do-I-create-a-Bandcamp-embedded-player-

-->

<div class="embed music-bandcamp"

<!--Standard-->
	large, light
		<iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3889898964/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://thehousekeepers.bandcamp.com/album/the-housekeepers">The Housekeepers by Doireann Glackin &amp; Sarah Flynn</a></iframe>

	small, dark
	<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3889898964/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://thehousekeepers.bandcamp.com/album/the-housekeepers">The Housekeepers by Doireann Glackin &amp; Sarah Flynn</a></iframe>

	extra-large, full album, recoloured links
	<iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=3889898964/size=large/bgcol=333333/linkcol=2ebd35/transparent=true/" seamless><a href="https://thehousekeepers.bandcamp.com/album/the-housekeepers">The Housekeepers by Doireann Glackin &amp; Sarah Flynn</a></iframe>
<!--Slim-->
<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3889898964/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://thehousekeepers.bandcamp.com/album/the-housekeepers">The Housekeepers by Doireann Glackin &amp; Sarah Flynn</a></iframe>

<!--Artwork-only-->
<iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3889898964/size=large/bgcol=ffffff/linkcol=de270f/minimal=true/transparent=true/" seamless><a href="https://thehousekeepers.bandcamp.com/album/the-housekeepers">The Housekeepers by Doireann Glackin &amp; Sarah Flynn</a></iframe>

</div>