<!-- https://www.flickrhelp.com/hc/en-us/articles/4404078014356-Share-or-Embed-Flickr-Photos-or-Albums -->


<div class="embed image-flickr"
	<a data-flickr-embed="true" 
	data-header="true" 
	data-footer="true" 
	data-context="true" 
	href="https://www.flickr.com/photos/adamgibbsphotography/50597817398" 
	title="Mists of Renfrew">
		<img src="https://live.staticflickr.com/65535/50597817398_1caed71aff_h.jpg" 
		width="1500" 
		height="1000" 
		alt="Mists of Renfrew">
	</a>
	<script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
</div>
