<!-- https://developers.gfycat.com/iframe/ -->

Gifycat embed
<div style='position:relative; padding-bottom:calc(70.80% + 44px)'>
	<iframe src='https://gfycat.com/ifr/FocusedSaltyCranefly?autoplay=0&controls=0&hd=1&speed=2' 
	width='100%' 
	height='100%' 
	frameborder='0' scrolling='no' style='position:absolute;top:0;left:0;' allowfullscreen>
	</iframe>
</div>

Gifycat search playlist
<div style='position:relative; padding-bottom:56.25%'>
	<iframe src='https://gfycat.com/ifr/search/nature?autoplay=0&controls=0&hd=1&speed=2&loops=1' 
	width='100%' 
	height='100%'
	frameborder='0' scrolling='no' style='position:absolute;top:0;left:0;' allowfullscreen>
	</iframe>
</div>

Gifycat user album playlist
<div style='position:relative; padding-bottom:56.25%'>
	<iframe src='https://gfycat.com/ifr/@{username}/{albumUrlText}?autoplay=0&controls=0&hd=1&speed=2&loops=1' 
	width='100%' 
	height='100%'
	frameborder='0' scrolling='no' style='position:absolute;top:0;left:0;' allowfullscreen>
	</iframe>
</div>

