<!-- Documentation: https://support.google.com/calendar/answer/41207?hl=en -->

https://open-web-calendar.hosted.quelltext.eu/
https://github.com/niccokunzmann/open-web-calendar

we use this:
https://gra0007.github.io/modern-cal-embed/
https://github.com/GRA0007/modern-cal-embed

https://calendar.google.com/calendar/u/0/embedhelper?src=darthagnone%40gmail.com&ctz=Europe%2FLondon

<!-- Public address in iCal format. Use this address to access this calendar from other applications.
Warning: The address won't work unless this calendar is public. -->
https://calendar.google.com/calendar/ical/darthagnone%40gmail.com/public/basic.ics

<!-- Private address in iCal format. Do not share. Or do, if you know what you're doing. Secret can be reset. -->
https://calendar.google.com/calendar/ical/darthagnone%40gmail.com/private-7961489eee2901c99cbcb6de51e40d5f/basic.ics

<!-- Embed Google Calendar iframe, cannot use as too much mystery secrets that cannot be made generic or humanly found-->

<!-- <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FLondon&src=ZGFydGhhZ25vbmVAZ21haWwuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4uZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=bDlwa21yam1tZnFpaHRlYjU3YnRzNm9qa3M5OTB0ZmJAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23D50000&color=%237986CB&color=%237986CB&color=%237986CB&color=%23F6BF26" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->


<!-- <iframe src="https://calendar.google.com/calendar/embed? -->

<!-- height=600 -->

<!-- &wkst=1 -->

<!-- &bgcolor=%23 #ffffff -->

<!-- &ctz=Europe%2FLondon -->

<!-- &src=ZGFydGhhZ25vbmVAZ21haWwuY29t -->

<!-- &src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t -->

<!-- &src=ZW4uZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t -->

<!-- &src=ZW4udWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20 -->
<!-- &src=bDlwa21yam1tZnFpaHRlYjU3YnRzNm9qa3M5OTB0ZmJAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20 -->
<!-- &color=%23 #D50000 -->
<!-- &color=%23 #7986CB -->
<!-- &color=%23 #7986CB -->
<!-- &color=%23 #7986CB -->
<!-- &color=%23 #F6BF26" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->