<!-- Google Forms - embeddable surveys
https://forms.google.com/
https://stackoverflow.com/questions/16041643/remove-scroll-bar-from-iframe/19724938
Add forms and surveys to your site
https://support.google.com/a/users/answer/9308623?hl=en

Usage: 

googleforms 1FAIpQLSdqRDjIhpvL1QTk_tnfzQ-KinpnykdcdpZsI9raxQgYBdxEnA

Supply the sharecode obtained from the Google Forms >> Send button (not from the URL bar, it's different).
Form fields, colour theme, etc. must be changed via Google's editor. (default width/height: 640 382)

-->
<div class="embed google-forms">
	<style type="text/css">
	iframe.google-forms {border: none; overflow-y: hidden; resize: both; display: block;}
	</style>
	<iframe src="https://docs.google.com/forms/d/e/{{ .Get 0 }}/viewform?embedded=true" width="640" height="400" frameborder="0" marginheight="0" marginwidth="0" scrolling="yes" >Loading…</iframe>
</div>

{{ if .Site.Params.debug }}
	<script>
		console.log("Loaded external content from Google Forms");
	</script>
{{ end }}
