<!-- Embed Google Maps in your website 

https://developers.google.com/maps/documentation/embed/get-started 
https://developers.google.com/maps/documentation/embed/embedding-map

May need to specify Google Maps API key in site params?
The Google Maps API is very complex, so this will focus on being a basic version to show a business location.
-->


<div class="embed maps-google"
	<iframe
		width="600"
		height="450"
		frameborder="0" style="border:0"
		loading="lazy"
		allowfullscreen
		referrerpolicy="no-referrer-when-downgrade"
		src="https://www.google.com/maps/embed/v1/{MAP_MODE}?key=API_KEY
		&q=Space+Needle,Seattle+WA">
	</iframe>
</div>
