<iframe src="https://onedrive.live.com/embed?cid=B2A344D27BDE4366&amp;resid=B2A344D27BDE4366%212227&amp;authkey=AB0XXD9_umwh9CE&amp;em=2" width="476px" height="288px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> document, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>

start page
<iframe src="https://onedrive.live.com/embed?cid=B2A344D27BDE4366&amp;resid=B2A344D27BDE4366%212227&amp;authkey=AB0XXD9_umwh9CE&amp;em=2&amp;wdStartOn=1" width="476px" height="288px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> document, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>

no printing
<iframe src="https://onedrive.live.com/embed?cid=B2A344D27BDE4366&amp;resid=B2A344D27BDE4366%212227&amp;authkey=AB0XXD9_umwh9CE&amp;em=2&amp;wdStartOn=1&amp;wdPrint=0" width="476px" height="288px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> document, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>

no embed code visibility
<div>
<iframe 
src="https://onedrive.live.com/embed?cid={{ .Get "doc" }}&amp;resid={{ .Get "doc" }}%212227&amp;authkey=AB0XXD9_umwh9CE&amp;em=2&amp;wdStartOn=1&amp;wdPrint=0&amp;wdEmbedCode=0" 
width="476px" height="288px" 
frameborder="0">
This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> document, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.
</iframe>
</div>