<!-- Embed Soundcloud
https://help.soundcloud.com/hc/en-us/articles/115003568008-Embedding-a-track-or-playlist-
https://help.soundcloud.com/hc/en-us/articles/115003566828-The-Visual-embedded-player-

Note that not all tracks can be embedded (artist-controlled setting), and small-size widget (and disabling comments and clutter) are locked behind SoundCloud Pro membership (paid service). 
I recommend HearThis.at instead of SoundCloud; it's less limiting.

-->

<div embed music-soundcloud>

	<iframe 
	width="100%" scrolling="no" frameborder="no" allow="autoplay"
	height="300" <!-- large: 300 or 450 or 600, medium: 166, small size is locked behind Pro membership --> 
	src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1221960136&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
	<div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
		<a href="https://soundcloud.com/santandave" title="Dave" target="_blank" style="color: #cccccc; text-decoration: none;">Dave</a> · 
		<a href="https://soundcloud.com/santandave/starlight" title="Starlight" target="_blank" style="color: #cccccc; text-decoration: none;">Starlight</a>
	</div>

</div>
