<!-- https://core.telegram.org/widgets -->

embed post
<div embed telegram>
	<script async src="https://telegram.org/js/telegram-widget.js?19" 
	data-telegram-post="durov/43"
	data-width="100%"
	data-dark="1" 
	data-userpic="true" <!-- omit for auto userpic -->
	>
	</script>
</div>

embed sharing button
<div embed telegram button>
	<script async src="https://telegram.org/js/telegram-widget.js?19" 
	data-telegram-share-url="https://robot-one.github.io" 
	data-comment="optional comment" 
	data-size="large" <!-- optional -->
	data-text="notext" <!-- for no text on button -->
	></script>
</div>

embed conversation
<script async src="https://telegram.org/js/telegram-widget.js?19" 
data-telegram-discussion="contest/198" 
data-comments-limit="5" 
data-colorful="1" 
data-dark="1"></script>

<!-- Telegram comments for website: https://comments.app/ , or to show a discussion: https://core.telegram.org/widgets/discussion-->